<nav>
  <div class="container">
    <div class="row">
        <div class="nav-wrapper">
            <a href="#" data-activates="menu-mobile" class="button-collapse sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <a href="#" class="brand-logo">
                <img class="brand__image" src="assets/images/logo.png" alt="Credita.ME">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a>Ínicio</a></li>
              <li><a [routerLink]="['politica-de-privacidade']">Política de Privacidade</a></li>
              <li><a [routerLink]="['quem-somos']">Quem Somos</a></li>
            </ul>

            <ul id="menu-mobile" class="sidenav">
                <li><a>Ínicio</a></li>
                <li><a [routerLink]="['politica-de-privacidade']">Política de Privacidade</a></li>
                <li><a [routerLink]="['quem-somos']">Quem Somos</a></li>
              </ul>
          </div>
    </div>
  </div>
</nav>