<nav>
  <div class="container">
    <div class="row">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img class="brand__image" src="assets/images/logo.png" alt="Credita.ME">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#">Ínicio</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
          </div>
    </div>
  </div>
</nav>