<footer class="footer">
  <div class="container">
      <div class="row">
            <div class="col m6 s12">
                <p class="footer__copyright">&copy; 2019 CREDITA.ME - Todos os direitos reservados</p>
            </div>
          <div class="col m6 s12">
            <ul class="footer__menu">
                <li>
                    <a href="#">Política de Privacidade</a>
                </li>
                <li>
                    <a href="#">Quem somos</a>
                </li>
                <li>
                    <a class="facebook__logo" href="#">
                        <img src="assets/images/icons/icon-face.png" alt="Siga-nos no Facebook">
                    </a>
                </li>
            </ul>
          </div>
      </div>
  </div>
</footer>