<main class="main">
    <div class="container">
       <div class="main__description">
          <h1 class="main__title">Pra você, <strong>microempreendedor</strong></h1>
          <p>Encontre a melhor oferta de crédito para o seu perfil.</p>
        
          <div class="main__actions">
            <a [routerLink]="['quem-somos']" class="waves-effect waves-light btn">Saiba mais</a>
            <a href="https://m.me/338573176834773" target="_blank" class="waves-effect waves-light btn primary">Buscar</a>
          </div>
      </div>
      <div class="main__bg">
          <figure>
            <img src="assets/images/main-bg.png" alt="Chatbot online para financiamento de empréstimo para microempreendedor">
          </figure>
        </div>
  </div>
</main>