.main {
    background: {
        color: #ddd;
        size: cover;
        image: url(../../assets/images/background.png);
    }

     p {
         font-size: 16px;
     }

     .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

.main__title {
    line-height: 1.3;
    margin-top: 0;
    font-size: 43px;

    strong {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3.5px;
    }
}

.main__actions {
    margin-top: 115px;

    a {
        font-weight: 500;
        margin-right: 20px;

        &:not(.primary){
            color: #333;
            background-color: #fff;

            &:hover {
                opacity: 0.8;
            }
        }

        &.primary {
            background-color: var(--color-orange);

            &:hover {
                background-color: lighten(#E64312, 10%);
            }
        }
    }
}

.main__bg {

    figure {
        padding-top: 100px;
    }

    img {
        width: 360px;
        max-width: 100%;
    }
}

@media(min-width: 1294px){
    .main__description {
        padding-left: 95px;          
    }
}

@media(max-width: 1295px){

    .container { 
        flex-direction: column;
    }

    .main__title {
        text-align: center;
    }
    
    .main__description {
        padding-top: 95px;
    }

    .main__actions {
        text-align: center;
    }
}