<main class="main">
  <div class="container">
      <div class="main__description">
          <h1 class="main__title">Para você, microempreendedor</h1>
          <p>Encontre a melhor oferta de crédito para o seu perfil.</p>
        
          <div class="main__actions">
            <a class="waves-effect waves-light btn primary">Saiba mais</a>
            <a class="waves-effect waves-light btn">Buscar</a>
          </div>
      </div>
      
      <div class="main__bg">
        <figure>
          <img src="assets/images/main-bg.png" alt="Chatbot online para financiamento de empréstimo para microempreendedor">
        </figure>
      </div>
  </div>
</main>