<nav class="main__breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col 12">
            <div class="nav-wrapper">
                <div class="col s12">
                  <a [routerLink]="['']" class="breadcrumb">Home</a>
                  <a class="breadcrumb">Quem Somos</a>
                </div>
              </div>
        </div>
      </div>
    </div>
  </nav>

<section class="internal__page">
    <div class="container">
      <div class="col 12">
  
          <div class="internal__header">
            <h1 class="internal__title">Quem <b>Somos</b> <span>.</span> </h1>
          </div>
  
        <div class="internal__content">
            <p>A CREDITA.ME, atua como correspondente bancário da OMNI S.A, CNPJ 92.228.410/0001-12. A atuação segue as diretrizes da resolução 3.954, do Banco Central Brasileiro, e envolve a recepção e envio de propostas de microcrédito direcionado a pequenos investidores.</p>
            <p>Informações adicionais relacionado ao empréstimo: O Prazo de pagamento das operações é de até 12 meses e o Custo Efetivo Total (CET) da operação varia entre 4,75% a.m. (74,45% a.a.) a 11,38% a.m. (264,48% a.a.).</p>
            <p>Exemplo de empréstimo: um microcrédito de R$ 1000,00 com pagamento em 12 parcelas de R$ 114,23. O valor total a ser pago será de R$ 1370,76, com juros de 3,90% a.m. e CET de 4,75% a.m.</p>
          </div>
        </div>
    </div>
  </section>