<nav class="main__breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col 12">
          <div class="nav-wrapper">
              <div class="col s12">
                  <a [routerLink]="['']" class="breadcrumb">Home</a>
                  <a class="breadcrumb">Política de Privacidade</a>
              </div>
            </div>
      </div>
    </div>
  </div>
</nav>

<section class="internal__page">
  <div class="container">
   <div class="row">
      <div class="col 12">

          <div class="internal__header">
            <h1 class="internal__title">Política de <strong>Privacidade<span>.</span></strong> </h1>
          </div>
  
        <div class="internal__content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam minima, eius repellendus aspernatur tempora autem asperiores, aliquid deserunt saepe ullam explicabo nesciunt expedita sint quidem beatae. Rerum quas officiis repellendus.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id ea suscipit neque voluptates iste?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quo quod iusto possimus quisquam, optio mollitia at velit impedit aspernatur natus minus vero ipsum nam ipsa rerum, fuga voluptates delectus placeat qui nemo recusandae voluptas? Sint tempore vero officia pariatur optio sequi quos minima quas. Obcaecati, voluptatem accusantium aut illum veritatis corporis enim sed eveniet saepe possimus quisquam, aliquid sunt nostrum iste in facere consectetur maiores mollitia debitis libero ipsum! Laborum asperiores provident, necessitatibus, rem consequatur quibusdam repellendus in saepe beatae obcaecati suscipit, aspernatur libero totam exercitationem nisi maxime minima repudiandae cupiditate quos officia. Possimus mollitia ad aliquid magnam tempora.</p>
        </div>
      </div>
   </div>
  </div>
</section>